/* Resets */

body {
    margin: 0;
}

/* Elemente */

.Tofl-container { 
    background-color: paleturquoise;
    height: 100vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.Tofl-container img {
    min-height: 0;
}

.Tofl, .Tomate, .Osaka{
    
    height: fit-content;
    display: flex;
    justify-content: center;
    transition: all, 2s;
    height: 30vh;
}


.Tofl:hover, .Tomate:hover, .Osaka:hover{
    transform: rotate(5000deg);
}



.Header {
    font-family: helvetica;
    font-size: 50px;
    display: flex;
    justify-content: center;
}


.nav {
    position: fixed;
    font-family: helvetica;
    background-color: black;
    width: 98vw;
    display: flex;
    justify-content: space-between;
}

.navlink {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.popup {
    position: fixed;
    width: 200px;
    height: 100px;
    background-color: blue;
}